@page
@model IndexModel
@{
  ViewData["CenterMode"] = true;
  ViewData["Title"] = "Home page";
}

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input class="form-control text-center the-guid" value="00000000-0000-0000-0000-000000000000" readonly onClick="this.setSelectionRange(0, this.value.length)" />
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label class="col-form-label"><samp>C#</samp><br /><code>Guid.Empty</code></label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-form-label"><samp>ms sql</samp><br /><code>cast(cast(0 as binary) as uniqueidentifier)</code></label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label class="col-form-label"><samp>powershell</samp><br /><code>[Guid]::Empty</code></label>
      </div>
    </div>
  </div>